<div class="container page-container">
  <div class="card col-md-8 offset-md-2">
    <h2 class="header">Add new learning material</h2>
    <form action="/learning" method="post" id="form-container">

      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" required>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" type="text" name="description">
      </div>

      <div class="form-group">
        <label for="source">Source</label>
        <input class="form-control" type="text" name="source" required>
      </div>

      <div class="form-group">
        <label for="materialType">Course</label>
        <input type="radio" name="materialType" value="course">

        <label for="materialType">Tutorial</label>
        <input type="radio" name="materialType" value="tutorial">

        <label for="materialType">Article</label>
        <input type="radio" name="materialType" value="article">

        <label for="materialType">Book</label>
        <input type="radio" name="materialType" value="book">

        <label for="materialType">Video</label>
        <input type="radio" name="materialType" value="video">

        <label for="materialType">Podcast</label>
        <input type="radio" name="materialType" value="podcast">

        <label for="materialType">Other</label>
        <input type="radio" name="materialType" value="other">

        {{#if errorMessage}}
          <div class="error-message">{{errorMessage}}</div>
        {{/if}}
      </div>

      <div class="form-group">
        <label for="free">Free?</label>
        <input type="checkbox" name="free" id="free" checked value="true">
      </div>

      <div>
        <button class="btn btn-primary add-btn" type="submit">Add material</button>
      </div>
      <a href="/learning">Go back to learning page</a>
    </form>
  </div>
</div>

