<div class="container page-container">

  <h1 class="news-header border-bottom border-gray pb-2 mb-0 ">About This Project</h1>

  <div class="intro-text container page-container">
    <p class="lead">
      This project was made as part of the <a
        href="https://www.ironhack.com/en/courses/web-development-bootcamp">Ironhack Web Development bootcamp </a> by <a
        href="https://github.com/biancavlz">Bianca</a> and <a href="https://github.com/ekelleh">Helleke</a>.
      The aim of the project was to build our first full-stack web application with the MERN stack. This was our second
      project during the bootcamp and the development time was one week. You can check out the Github repo <a
        href="https://github.com/biancavlz/MyTechBoard">here.</a>

    </p>
  </div>

  <h1 class="news-header border-bottom border-gray pb-2 mb-0 ">Aim & Execution</h1>

  <div class="intro-text container page-container">
    <p class="lead">
      Then problem we wanted to solve for the user was one we understand well: <strong> How to keep developing your
        coding
        skills
        after a bootcamp? </strong>
      We all have very crowded bookmark tabs and one easily gets lost looking for tutorials on the internet. That is why
      we wanted to create a curated service where users can add make a selected list or 'pin-board' where they store the
      resources and links they want to remember and dive deeper into. To get the data we used both web scraping and
      APIs. The sources we initially used to get data are: <a href="">Medium</a>, <a href="">Hackernews</a>, <a
        href="">Youtube JS Tutorials</a>, <a href="">The Meetup API</a>
    </p>

  </div>

  <h1 class="news-header border-bottom border-gray pb-2 mb-0 ">Further Development</h1>
  <div class="intro-text container page-container">
    <p class="lead">
      There is a limited set of features that you can include in just one week, but of course we have lots of ideas for
      further iteration and improvement. We would like to add more sources for data, different search and filtering
      options, social login, maybe some social/group features etc.
    </p>

    <h1 class="news-header border-bottom border-gray pb-2 mb-0 ">Credits</h1>
    <div class="intro-text container page-container">
      <p class="lead">
        We used some images that were freely available on the internet – thanks to all providers of free resources!
      </p>

      <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a
          href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
          href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
          BY</a></div>

      <div>Icons made by <a href="https://www.flaticon.com/authors/ocha" title="OCHA">OCHA</a> from <a
          href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
          href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
          BY</a></div>

      <div>Icons made by <a
          href="https://www.freepik.com/?__hstc=57440181.f07106372b1d52aa1d832012a867fad5.1556136136609.1556136136609.1556190488528.2&__hssc=57440181.5.1556190488528&__hsfp=1804093129"
          title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is
        licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
          target="_blank">CC 3.0 BY</a></div>


    </div>