<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">MyTechBoard</h1>

    </div>
  </div>
</header>

<div class="intro-text container page-container">
  <p class="lead text-justify">Welcome to MyTechBoard – This page contains a curated selection of the best JavaScript content the
    internet provides! Here you can create your own tech board with JavaScript news, events, and learning materials,
    so
    that you can
    continue
    leanring JS!</p>
</div>

<section class="card-container cards-wrapper">
  <div class="card-info card text-center" style="width: 18rem;">
    <img src="./images/Events_ppl.svg" class="card-img-top event-img" alt="Tools">
    <div class="card-body">
      <h4 class="card-title">Events</h4>
      <p class="card-text">Check out JavaScript Meetups, Events & Conferences</p>
      <a href="/events" class="btn btn-secondary event-button">Go to Event list</a>
    </div>
  </div>

  <div class="card-info card text-center" style="width: 18rem;">
    <img src="./images/Learning.svg" class="card-img-top learning-img" alt="Tools">
    <div class="card-body">
      <h5 class="card-title">Learning Materials</h5>
      <p class="card-text">Check out Books, Tutorial videos, Courses and other Learning Materials for JavaScript</p>
      <a href="/learning" class="btn btn-secondary learning-button">Go to Learning List</a>
    </div>
  </div>

  <div class="card-info card text-center" style="width: 18rem;">
    <img src="./images/Newspaper.svg" class="card-img-top news-img" alt="News">
    <div class="card-body">
      <h5 class="card-title">News</h5>
      <p class="card-text">Check out the latest JavaScript News and Blog posts</p>
      <a href="/news" class="btn btn-secondary news-button">Go to News List</a>
    </div>
  </div>
</section>