<div class="news-main container page-container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h1 class="news-header border-bottom border-gray pb-2 mb-0 news-style">News</h1>

    {{#each data.articles}}
    <div class="media text-muted pt-3">


      <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark"> <i class="far fa-newspaper"></i> {{this.title}}</strong>

        <form action="/techboard" method="post"> <button class="add-button" type="submit">Add this to
            MyTechBoard</button>
          <input type="hidden" value="{{_id}}" name="resourceId">
          <input type="hidden" value="news" name="resourceType">
        </form>

        <a href="{{this.link}}" target='_blank'>read more...</a>
      </p>
    </div>
    {{/each}}

  </div>
</div>