<div class="news-main container page-container">
  <div class="my-3 bg-white rounded shadow-sm">
    <h1 class="news-header border-bottom border-gray pb-2 mb-0 news-style">News</h1>

    <div class="container courses-container">
      <section class="courses">

        {{#each data.articles}}
        <div class="card events-card">
          <div class="card-body">
            <h5 class="card-title events-cart-title"><i class="far fa-newspaper"></i> {{title}}</h5>

            <form action="/techboard" method="post"> 
              <button class="add-button" type="submit">Add this to
                MyTechBoard</button>
              <input type="hidden" value="{{_id}}" name="resourceId">
              <input type="hidden" value="news" name="resourceType">
            </form>

            <a href="{{this.link}}" class="btn btn-primary news-more" target='_blank'>Read More...</a>
          </div>
        </div>
        {{/each}}

      </section>
    </div>