<h1>Welcome to Your Personal Tech Board</h1>

<section class="techboard">
  <h2>MyTechBoard</h2>
  <p>Here you can see all the content you have pinned</p>
</section>


<h2>No content?</h2>
<p>start by checking out News, Events & Learning Materials you might like</p>

<section class="card-container">

  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">JavaScript Events</h5>
      <p class="card-text">Check out JavaScript Meetups, Events & Conferences</p>
      <a href="/events" class="btn btn-primary">Go to Event list</a>
    </div>
  </div>

  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">JavaScript Learning Materials</h5>
      <p class="card-text">Check out Tutorials, Courses and other Learning Materials for JavaScript</p>
      <a href="/learning" class="btn btn-primary">Go to Learning List</a>
    </div>
  </div>

  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">JavaScript News</h5>
      <p class="card-text">Check out the latest JavaScript news and blog posts</p>
      <a href="/news" class="btn btn-primary">Go to News List</a>
    </div>
  </div>

</section>