/* logo font? font-family: 'Fugaz One', cursive;
event color: #ff8077 
learning color - JS yellow: #F7DF1E
News blue: #4F88C1
JS official 'grey': #323330

jumbotron-yellow: #f8dc58 
*/

body {
    font-family: "Lato", sans-serif;
    color: #323330;
}

a:hover {
    color: #f8dc58;
}

.page-container {
    margin-top: 20px;
}

/* layout */
.main-container {
    margin-bottom: 60px;
    margin-top: 57px;
}

.navbar {
    background-color: #323330;
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f8dc58;
}

.navbar-brand {
    font-family: "Fugaz One", cursive;
    color: #f8dc58;
}

.navbar-brand:visited {
    font-family: "Fugaz One", cursive;
    color: #f8dc58;
}

.dropdown-menu {
  background-color: #f8dc58;
}

.dropdown-menu:hover {
  background-color: #f8dc58;;
  opacity: 1.0;
}

footer {
    text-align: center;
    width: 100%;
    height: 2.5rem;
    background-color: #323330;
    height: 30px;
}

footer p {
    align-self: center;
    padding-top: 5px;
    color: #989997;
}

footer a {
    color: #989997;
}

/* home */

/*This is the jumotron header*/
.display-4 {
    font-family: "Fugaz One", cursive;
    color: rgb(248, 248, 242);
    font-size: 6rem;
    padding-bottom: 50px;
    margin-bottom: 25px;
    text-shadow: 2px 2px #25253d;
}

.jumbotron {
    color: #25253d;
    background-image: url("/images/js.png");
    background-position: center;
    background: cover;
    background-repeat: no-repeat center;
    text-align: center;
    margin-bottom: 0px;
    height: 100%;
}

.intro-text {
    text-align: center;
}

/* Main index page & news/events/material boxes*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-wrapper {
    margin: 10px 0px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.card-info {
    margin: 10px;
}

/* authorization pages */
.header {
    text-align: center;
    margin: 15px;
}

.account-message {
    margin-top: 15px;
}

/* News */
.news-header {
    text-align: center;
}

.news-title {
    font-size: 1.2rem;
}

/* Events */
.events-header {
    text-align: center;
}

.events-card {
    margin-bottom: 15px;
}

.events-cart-title {
    font-size: 1.75rem;
}

/* learning */
.add-btn {
    margin-bottom: 15px;
}

/* my tech board page*/

.techboard {
    text-align: center;
}

/*Tech Board styling*/
/*add to my tech board button */

.add-button {
    background-color: #323330;
    color: #989997;
    border-radius: 5px;
    display: inline-block;
    padding: 2px;
    margin-bottom: 5px;
}

.add-button:hover {
    background-color: #f8dc58;
    color: #323330;
}

.my-tech-board-header {
    font-family: "Fugaz One", cursive;
}

.delete-button {
    display: inline-block;
}

/*Styling to set the categories apart*/

.event-img {
    background-color: #ff8077;
    padding: 10px;
    padding-bottom: 12px;
    height: 160px;
}

.event-style {
    background-color: #ff8077;
}

.learning-img {
    background-color: #f8dc58;
    padding: 10px;
    padding-bottom: 12px;
    height: 160px;
}

.learning-style {
    background-color: #f8dc58;
}

.news-img {
    background-color: #4f88c1;
    padding: 10px;
    padding-bottom: 12px;
    height: 160px;
}

.news-style {
    background-color: #4f88c1;
}

/*Button styling*/

.btn.btn-secondary {
    background-color: #323330;
    color: #989997;
    display: inline-block;
}

.btn.btn-secondary.learning-button:hover {
    background-color: #f8dc58;
    color: #323330;
    display: inline-block;
}

.btn.btn-secondary.event-button:hover {
    background-color: #ff8077;
    color: #323330;
    border-color: #323330;
    display: inline-block;
}

.btn.btn-secondary.news-button:hover {
    background-color: #4f88c1;
    color: #323330;
    border-color: #323330;
    display: inline-block;
}

.btn.btn-primary.event-more {
    background-color: #ff8077;
    color: #323330;
    border-color: #323330;
    display: inline-block;
}

.btn.btn-primary.learn-more {
    background-color: #f8dc58;
    color: #323330;
    border-color: #323330;
    display: inline-block;
}

.btn.btn-primary.news-more {
    background-color: #4f88c1;
    color: #323330;
    border-color: #323330;
    display: inline-block;
}

.btn.btn-primary:hover {
    background-color: #323330;
    color: #989997;
    display: inline-block;
}

.btn.btn-primary.login {
    background-color: #323330;
    color: #989997;
    border-color: #323330;
}

.btn.btn-primary.login:hover {
    background-color: #989997;
    color: #323330;
    border-color: #989997;
}

.card-title.techboard-title {
    font-weight: bold;
}

.card-info.card.text-center {
    padding: 20px;
}

/* for devices smaller then 960px */
@media(max-width: 960px) {
  .display-4 {
    font-size: 4rem;
  }
}

/* for devices smaller then 960px */
@media(max-width: 667px) {
  .display-4 {
    font-size: 2.5rem;
  }
}